/*font family*/
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Mulish', sans-serif;  
}




.nav{
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.nav-head-div1{
    display: flex;
    gap: 5px;
    align-items: center;
}
.nav-ul{
    display: flex;
    align-items: center;
}
.common-li{
    list-style: none;
    padding: 28px;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.home-li{
    color: #FF5400;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
    list-style: none;
    padding: 28px;

}
.nav-head{
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}
.travel-head{
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

.banner-div{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    width: 1170px;
    height: 500px;
    margin: auto;
    border-radius: 16px;
}
.banner-head{
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    padding-top: 62px;
}
.banner-desc{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 50px;

}
.input-div{
    text-align: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 67%;
    height: 67px;
    margin: auto;
    padding-top: 10px;
}
.wherego-input{
    width: 162px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    text-align: left;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;   
    border: none;  
    margin-right: 13px;                                                   

}
.when-input{
    width: 172px;
    height: 55px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    text-align: left;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px; 
    margin-right: 10px;

}
.banner-btn{
    width: 175px;
    height: 54px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
}
.popular-tours{
    width: 1170px;
    margin: auto;
    display: flex;
    margin-top: 100px;

}
.rect-4{
    width: 530px;
    height: 540px;
    padding-top: 26px;
}
.popular-head{
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;

}
.popular-desc{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}












/*Responsive for mobile*/
@media screen and (max-width:600px) {
    .nav{
        padding-left: 20px;
        margin-top: -20px;
    }
    .nav-head{
        font-size: 21px;
    }
    .travel-head{
        font-size: 21px;
    }
    .nav-img{
        height: 30px;
    }
    .banner-div{
        width: 100%;
        position: relative;
        bottom: 45px;
    }
    .banner-head{
        padding-top: 30px;
        font-size: 22px;
    }
    .banner-desc br{
        display: none;
    }
    .banner-desc{
        line-height: normal;
        font-size: 14px;
        padding: 0px 6px;
    }
    .when-input{
        width: 278px;
        margin-bottom: 16px;
        margin-left: 12px;
    }
    .banner-btn{
        width: 275px;
        margin-left: 5px;
    }
    .wherego-input{
        width: 256px;
    margin-bottom: 15px;
    margin-left: 13px;
    }
    .input-div{
        height: 280px;
        width: 318px;
        padding-top: 13px;
    }
    .popular-tours{
        flex-direction: column;
        width: 100%;
        margin-top: -45px;
    }
    .rect-4{
        width: 414px;
        height: 424px;
    }
    
}