/*font family*/
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Mulish', sans-serif;  
}




.nav{
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.nav-head-div1{
    display: flex;
    gap: 5px;
    align-items: center;
}
.nav-div3{
    display: none;
}
.nav-ul{
    display: flex;
    align-items: center;
}
.common-li{
    list-style: none;
    padding: 28px;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.home-li{
    color: #FF5400;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
    list-style: none;
    padding: 28px;

}
.nav-head{
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}
.travel-head{
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

.banner-div{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    width: 1170px;
    height: 500px;
    margin: auto;
    border-radius: 16px;
}
.banner-head{
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    padding-top: 62px;
}
.banner-desc{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 50px;

}
.body-input-div{
    text-align: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 67%;
    height: 67px;
    margin: auto;
    padding-top: 10px;
}
.wherego-input{
    width: 162px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    text-align: left;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;   
    border: none;  
    margin-right: 13px;                                                   

}
.when-input{
    width: 172px;
    height: 55px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    text-align: left;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px; 
    margin-right: 10px;

}
.banner-btn{
    width: 175px;
    height: 54px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
}
.popular-tours{
    width: 1170px;
    margin: auto;
    display: flex;
    margin-top: 100px;

}
.rect-4{
    width: 530px;
    height: 540px;
    padding-top: 26px;
}
.popular-head{
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;

}
.popular-desc{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}
.vacation{
    width: 1170px;
    margin: auto;
}
.vacation-head{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;


}
.vacation-desc{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.maldives{
    position: relative;
    color: #FFF;
}
.maldives-div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}
.place1,.place2,.place3{
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 15px;
    
}

    
.sri-pic{
    width: 374px;
    height: 286px;
}
.north-pic{

    width: 474px;
    height: 286px;
} 
.kashmir-pic{
    width: 274px;
    height: 286px;

}  

.bd-pic{
    width: 473px;
    height: 300px;

} 
.bandar-pic{
    width: 673px;
    height: 300px;

}
.best-deals{
    margin: 80px 0px;
}
.best-deals-div{
    width: 1170px;
    margin: auto;
    display: flex;

}
.budget{
    width: 500px;
    margin: auto;
    width: 50%;
    text-align: center;
    border: 1px solid #FF5400;
    padding: 10px;
    position: relative;
    right: 100px;
    border-radius: 16px;
    background-color:white
}
 .budget h5{
    color: #FF5400;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    padding-top: 35px;


}
.budget h1{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin: 0px;
}
.budget p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.plane-div{
    width: 630px;
}
.plane-pic{
    width: 750px;
    border-radius: 16px;

}
.evening-pic{
    width: 250px;

}


.advantages-head{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-top: 75px;

}
.advantages-desc{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 

}
.services{
    display: flex;
    width: 1170px;
    margin: auto;
    gap: 15px;
    text-align: left;
}
.hotel{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
    height: 284px;
    margin-top: 20px;
    margin-bottom: 20px; 


}
.map{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 573px;
    height: 284px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.hotel-head{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;


}
.hotel-desc{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}
.hotel-icon{
    width: 64px;
    height: 64px;
    flex-shrink: 0;
}
.hotel-icon, .hotel-head,.hotel-desc{
    margin-left: 35px;
    margin-top: 30px;
}
.price{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 573px;
    height: 284px;
    margin: auto;

}
.newsletter{
    margin-top: 50px;
    margin-bottom: 50px;
}
.newsletter-div{
    display: flex;
    width: 1170px;
    margin: auto;
    gap: 24px;
}
.subscribe{
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    text-align: left;
    padding-top: 60px;
    padding-left: 35px;
}
.subscribe-head{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;

}
.subscribe-desc{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 393px;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.input-div{
    display: block;
        text-align: left;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
        width: 0px;
        height: 67px;
        margin: 0px;
        padding-top: 10px;
}
.input-class{
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 20px;
    color: rgba(19, 19, 24, 0.30);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    border: none;
    padding-left: 25px;
}
.input-btn{
    width: 402px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    margin-top: 16px;
    border: none;
}
.save{
    width: 672px;
    height: 482px;
    border-radius: 16px;


}
.save-img{
    width: 672px;
    height: 482px;
}
.save-discount{
    width: 324px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    position: relative;
    left: 160px;
    bottom: 203px;
    margin: auto;
    height: 109px;
    padding: -17px;
    padding-top: 40px;
}
.save-desc{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
    margin: 0px;
}
.travel-desc{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 400;
    margin: 0px;
}
footer{
    background: rgba(19, 19, 24, 0.05);
}
.footer-one{
    width: 1170px;
    margin: auto;
    text-align: center;

}
.footer-logo{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;

}
.footer-head{
    color: #131318;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
}
.travel-footer{
    color: #FF5400;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;

}
.social-media{
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
    width: 1170px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.social-media i{
    padding-left: 30px;
    padding-bottom: 35px;
}










/*Responsive for mobile*/
@media screen and (max-width:600px) {
    .nav{
        padding-left: 20px;
        width: 100%;
    }
    .nav-head-div1{
        padding-bottom: 20px;
    }
    .nav-div3{
        display: block;
    }
    .nav-head{
        font-size: 21px;
    }
    .travel-head{
        font-size: 21px;
    }
    .nav-img{
        height: 30px;
    }
    .nav-ul{
        display: none;
    }
    .banner-div{
        width: 100%;
        position: relative;
        bottom: 45px;
    }
    .banner-head{
        padding-top: 30px;
        font-size: 22px;
    }
    .banner-desc br{
        display: none;
    }
    .banner-desc{
        line-height: normal;
        font-size: 14px;
        padding: 0px 6px;
    }
    .when-input{
        width: 278px;
        margin-bottom: 16px;
        margin-left: 12px;
    }
    .banner-btn{
        width: 275px;
    }
    .body-input-div{
        width: 54%;
        height: 283px;
        padding-top: 15px;
    }
    .wherego-input{
        width: 256px;
        margin-bottom: 15px;
        margin-left: 13px;
    }
    .input-div{
        height: 280px;
        width: 318px;
        padding-top: 13px;
    }
    .popular-tours,.place1,.place2,.place3,.services,.newsletter-div{
        flex-direction: column;
        width: 100%;
    }
    .services{
        gap: 0;
    }
    .popular-tours{
        width: 100%;
        margin-top: -45px;
    }
    .rect-4{
        width: 100%;
        height: 424px;
    }
    .maldives-pic,.indo-pic,.sri-pic,.kashmir-pic,.north-pic,.bandar-pic,.bd-pic{

    width: 100%;
    height: 424px;
    }
    .vacation{
        width: 100%;
    }
    .hotel,.price,.map{
        width: 100%;
        height: 424px;
    }
    .hotel{
        margin-bottom: 0;
    }
    .maldives-div{
        font-size: 26px;
    }
    .footer-one{
        height: 424px;

    }
    
    .social-media{
        margin-top: 0px;
        margin-bottom: 0px;
        width: 324px;
    }
    .footer-one{
        width: 100%;
    }
    .save{
        width: 100%;
        height: 424px;


    }
    .save-img{
        width: 100%;
        height: 424px; 
    }
    .subscribe{
        height: 424px;
        width: 547px;

    }
    .input-class{
        width: 470px;
    }
    .input-btn{
        width: 497px;
    }
   .save-discount{
    width: 214.023px;
    height: 79.268px;
    width: 214.023px;
    height: 79.268px;
    left: 173px;
    bottom: 155px;
   }   
   .travel-desc{
    font-size: 18px;
   }
   .save-desc{
    font-size: 22px;
   }
   .copyright{
    margin-top: 50px;
   }
   .subscribe-desc{
    width: 494px;
   }
    .nav-div3{
        display: block;
        padding-top: 24px;
        padding-left: 340px;
    }
    .best-deals-div{
        width: 100%;
        flex-direction: column;
    }
    .plane-pic{
        width: 585px;

    }
    .budget{
        position: relative;
        right: 0px;
        width: 558px;
    }
   .budget p br,.budget h1 br{
    display: none;
   }
   .best-deals{
    margin: 55px 0px;
   }
   
}